name: lambda pull request

on:
  push:
    branches:
      - main
    paths:
      - environments/dev/*.tf
      - .github/workflows/*.yml
      - modules/**
jobs:
  deployTerrafom:
    runs-on: ubuntu-latest
    environment:
      name: DEV
    permissions:
      id-token: write      
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::444198540026:role/Github_Terraform_int_role
          aws-region: us-east-1

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0
      # Initialise terraform
      - name: Init
        working-directory: environments/dev
        run: |
          echo "Present directory: $(pwd)"
          terraform init
