name: lambda pull request

on:
  pull_request:
    types: [closed]
    branches:
      - main
    paths:
      - environments/dev/*.tf
jobs:
  deployTerrafom:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment:
      name: DEV
    steps: